<div>
  <div>
  <hr>
    <h1>
      <%= @the_board.name %>
    </h1>
<hr>
    <div>
      <h2>
        Add a new post
      </h2>

      <form action="/boards/<%= @the_board.id %>/insert_post" method="post">
        <input type="hidden" name="board_id" value="<%= @the_board.id %>">
        <div>
          <label for="title_box">
            Title
          </label>

          <input type="text" id="title_box" name="query_title">
        </div>

        <div>
          <label for="body_box">
            Body
          </label>

          <textarea id="body_box" name="query_body" rows="3"></textarea>
        </div>

        <div>
          <label for="expires_on_box">
            Expires on
          </label>

          <input type="date" id="expires_on_box" name="query_expires_on">
        </div>

        <button>
          Add post
        </button>
      </form>
    </div>
 <hr>
 <div>
  <table border="1" style="width: 100%;">
    <tr>
      <th style="width: 20%;">Title</th>
      <th style="width:60%;">Body</th>
      <th style="width: 10%;">Posted On</th>
      <th style="width: 10%;">Expires On</th>
    </tr>

    <% @the_board.posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.body %></td>
        <td><%= post.created_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
        <td><%= post.expires_on.strftime("%Y-%m-%d %H:%M:%S") %></td>
      </tr>
    <% end %>
  </table>
</div>
